nav {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4056A1 ;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    
    color: #FFFFFF;
    width: 100%;
  }
  nav span {
    margin: 1.5em;
    font-family: 'Bungee', cursive;
    font-size:x-large;
  }
   nav p{
    float: right;
    margin: 1.5em;
    font-size: 1rem;
   }
    p i{
      padding-left: 5pc;

    }

    .bolded {
       font-weight: bold; 
      }


