.tweets-container{
  /*border-style: solid;*/
  width: 100%;
  /* height: 250px; */
  display: flex;
  flex-direction: column;
  /*box-shadow: 5px 5px #6d6975;*/
  color: #300b61;
  
}

article.tweet {
  border-style: solid;
  box-shadow: 5px 5px #6d6975;
  margin-bottom: 1em;
  background-color: rgba(171, 165, 206, 0.274);
  border-radius: 30px;
}

article.tweet header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.5em 0 1.5em;
}

article.tweet header > .ID{
  color: #0000003b;
}

article.tweet > p{
  margin-left: 1.5em;
  margin-right:1.5em;
}

article.tweet > footer{
  display: flex;
  justify-content: space-between;
  margin-left: 1.5em;
  margin-right:1.5em;
  border: none;
  border-top: 3px solid rgb(50, 23, 63);
 
}

article.tweet footer > .icons {
color: rgb(40, 9, 110);
size: 20px;

}
article.tweet footer > .icons > .fa-solid:hover {
  color: rgb(134, 67, 223);
  
  }

